## Basics of python
In this module we will learn basics of python

In [5]:
#print function in python 
print("a")
a = 10 
print(a)

a
10

### end="" (same line)
In python the print function automatically prints the statement in the new line but if we doesnot want a new line then we use end=""

In [7]:
print("no new line " , end="")
print(a)

no new line 10

# Variables in python

We donot have to declayer the data type in python.
we can directly create varible

In [10]:
a = 10            #integer 
b = 20.4          #float
c = 2 + 4j        #complex

In [11]:
a = 'a'
b = 'strings in python can be written in single as well as double quotations'

In [13]:
print(len(b))
print(type(b))
# strings in python are immutable but can be interatable and slicing and can be concated

71
<class 'str'>

In [14]:
print(b.upper())
print(b.lower())

STRINGS IN PYTHON CAN BE WRITTEN IN SINGLE AS WELL AS DOUBLE QUOTATIONS
strings in python can be written in single as well as double quotations

In [16]:
print(b.strip())
#in this function the leading and trilling whitespace can be removed

strings in python can be written in single as well as double quotations

In [17]:
#input from user input 
a = input()
# user input is by default string

assdds

In [18]:
#if we want integer or any other input then :
i = int(input())

3

In [21]:
#Indexing 
s = "abc"
print(s[0])
print(s[-2])

a
b

In [26]:
#slicing 
#this will slice the string accourding to our needs
# the slicing are done in square brackets : s[starting index : ending index - 1]
str = "abcdefgh"
print(str[2:4])
print(str[-4:-1])
print(str[2:])
print(str[:5])
print(str[:])

cd
efg
cdefgh
abcde
abcdefgh

## Tuples

In [28]:
t = (2,3,4,5)
print(t)
print(type(t))
print(t[2])
s = (1,'salk' , 33.44 , [2,3,4,5])
print(s)

(2, 3, 4, 5)
<class 'tuple'>
4
(1, 'salk', 33.44, [2, 3, 4, 5])

### operators on tules

In [30]:
t = (1,2)
s = ("d" , 4)
print(t+s)
print(t*2)
print(1 in t)
print(3 in s)

(1, 2, 'd', 4)
(1, 2, 1, 2)
True
False

### Booleans

In [31]:
a = True 
b = False

## Operators

### Relational Operators

In [32]:
x = 20 
y = 30
print(x > y)
print( x >= y)
print(x <=y )
print(x < y)
print(x == y)
print(x != y)

False
False
True
True
False
True

### Logical Operators

In [33]:
x = 10
y = 20
z = 30

print(x < y and y < z)
print(x > y or y < z)

True
True

## Conditions

In [1]:
#if else 
x = 30  
y = 20
z = 40
if x > y and x > z :
    print('x is the greatest')
elif y > x and y > z :
    print('y is greatest')
else:
    print('z is greatest')

z is greatest

## loops

In [2]:
#while loop 
n = int(input())
i = 1
while i <= n:
    print(i*n , end=" ")
    i += 1
print()
print('done')

5
5 10 15 20 25
done

In [10]:
#for loop ond range 
for i in range(1,11):
    print(i , end =" ")

1 2 3 4 5 6 7 8 9 10

In [24]:
#prime number 
n = int(input())
if n == 0 or n == 1:
    print('not a prime number')
else :
    for i in range(2,n//2 + 1):
        if n%i == 0:
            res = False
            break
        else:
            res = True
    if res:
        print(n , ' is prime number')
    else:
        print(n, ' is not a prime number')

17
17  is prime number

In [26]:
# fast iteration 
s = 'abcdefghi'
for c in s :
    print(c , end =" ")

a b c d e f g h i

In [27]:
x = 'abcd'
for i in range(len(x)):
    print(x)
    x='a'

abcd
a
a
a

## Functions

In [29]:
def sum(a,b):
    return a+b
a = 10
b = 20
print(sum(a,b))

30

In [34]:
#default argument in python
def DefaultSum(a=1, b=2,c=4):
    return a+b+c
a = 10
b = 30
c = 40
print(DefaultSum(a,b,c))
print(DefaultSum(a,b))
print(DefaultSum(a))
DefaultSum(c=60)

80
44
16

63

In [35]:
# variable number of inputs to a function
def SumVariable(a,b,*more):
    print(type(more))
    print(more)
    return 10
SumVariable(10,12,2,3,5,6,24)

<class 'tuple'>
(2, 3, 5, 6, 24)

10

In [36]:
#Return more than one value from a function
def MoreValue(a,b):
    return a+b , a-b
s , d = MoreValue(10,20)
print(s, " and " , d)

30  and  -10

In [40]:
# taking a list or array as an input 
l = [int(x) for x in input().strip().split(" ")]

1 2 34 5 6 7 8 9 10 11 12 13

In [42]:
# Add elements in a list 
l = [1,2,3,4,5,6]
l.append(8)          # always add in the end of the list
l.insert(3,2)        # insert in specific function (pos , ele)
l1 = [10,20]
l.extend(l1)
print(l)

[1, 2, 3, 2, 4, 5, 6, 8, 10, 20]